body, html, window {
    background-color: #EFEFEF;
    height: 100%;
    cursor: none;
  }

body::-webkit-scrollbar {
    display: none;
  }

  #VideoMain {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
    transition: opacity 1s ease-in-out;
  }

  /* #VideoTop:hover {
    opacity: 0;
  } */

  /* #VideoBottom {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  } */

main {
  position: relative;
  top: 0;
  z-index: 3;
  width: 100%;
  /* background-image: url("/IMG1.jpg");
  mix-blend-mode: difference; */
}

main::before {
  background-image: url("/IMG1.jpg");
  mix-blend-mode: difference;
}

body {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 21.5px;
    line-height: 1;
    color: white;
  }

.spacing {
    padding: 100px;
}

/* #title {
    padding: 30px 0px;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(12px);
    position: fixed;
    -webkit-mask-image: linear-gradient(black 65%, rgba(0, 0, 0, 0.5) 100%);
} */

.justify {
      text-align: justify;
      word-spacing: -10px;
      padding: 60px;
      font-style: normal;
  }

.justify:after {
      content: "";
      display: inline-block;
      width: 100%;
  }

/* .justify:hover {
    font-style: italic;
} */

  footer {
    padding: 100px;
    position: relative;
    z-index: 3;
    /* top: 0%; */
    /* margin-top: 0; */
  }
