body, html, window {
    background-color: #EFEFEF;
    height: 100%;
    cursor: none;
  }

body::-webkit-scrollbar {
    display: none;
  }

  #VideoTop {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
    transition: opacity 2s ease-in-out;
  }

  #VideoTop.fade {
    opacity:1;
  }

  #VideoTop.fadeout {
    opacity:0;
  }


  #VideoBottom {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }

main {
  position: relative;
  top: 0;
  z-index: 3;
  width: 100%;
}

main::before {
  background-image: url("/IMG1.jpg");
  mix-blend-mode: difference;
}

body {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 21.5px;
    line-height: 1;
    color: white;
  }

.spacing {
    padding: 100px;
}

.justify {
      text-align: justify;
      word-spacing: -10px;
      padding: 60px;
      font-style: normal;
  }

.justify:after {
      content: "";
      display: inline-block;
      width: 100%;
  }

  footer {
    padding: 100px;
    position: relative;
    z-index: 3;
  }
